#
# Copyright (C) 2023 – 2024 Advanced Micro Devices, Inc. All rights reserved.
# Licensed under the MIT License.
#
lintrunner-adapters>=0.8.0
# BLACK
black==23.3.0
# CLANGFORMAT
clang-format==16.0.1
